@import "./../../../../scss/variables";

.ty-image-input {
  .custom-image {
    border: 1px solid #6e6e6e66;
    padding: 8px;
    font-size: 14px;
    border-radius: 13px;
    color: #6e6e6e;
    label {
      border-radius: 5px;
    }
    &:hover {
      border-color: $ty-primary;
    }
  }

  .image-list {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    // width: 100%;
    max-width: 550px;
    overflow: auto;
    gap: 20px;

    & > div {
      position: relative;
      .cut {
        color: #fff;
        background: #86b817;
        border-radius: 100%;
        padding: 0px 6px;
        padding-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        font-weight: 800;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
      }

      .uploaded-img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
      }
    }
  }
}
